body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: absolute;
    backdrop-filter:blur(10px);
}

h1{
    text-shadow: 0px 0px 20px;
    font-family: 'Roboto';
    font-weight: 600;
    text-align: center;
    font-size: 60 px;
    margin-bottom: 30px;
    color: white
}

h2{
    text-shadow: 0px 0px 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 48 px;
    color: white
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 36 px;
    color: white
}

a{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: inherit;
    text-decoration: none;
}

nav{
    text-align: center;
    color: white
}


p{
    font-family: 'Montserrat';
    font-size: 24 px;
    text-align: center;
    color: white
}

p1{
    font-family: 'Montserrat';
    font-size: 24 px;
    color: white
}

.image{
    margin-bottom: 20px;
    width: fit-content;
    border: 5px solid #fff;
    display: inline-block;
    max-width: 100%;
    max-height: auto;
}

.image img{
    display: block;
}

.rank1, .rank2, .rank3{
    margin-top: 10px;
    margin-bottom: 50px;
}

.rankings{
    text-align: center;
}

hr{
    margin-top: 50px;
    margin-bottom: 40px;
}

.links{
    text-align: center;
    color:#1e09ff
}