body {
    background-color: #9c0000;
}

h1{
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 60 px;
    margin-bottom: 30px;
    }

h2{
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 48 px;
}

h3{
    font-family: 'Arial', sans-serif;
    font-size: 36 px;
}

a{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: inherit;
    text-decoration: none;
}

nav{
    text-align: center;
}


p{
    font-family: 'Arial', sans-serif;
    font-size: 24 px;
    text-align: center;
}

p1{
    font-family: 'Arial', sans-serif;
    font-size: 24 px;
}

.image{
    margin-bottom: 20px;
    width: fit-content;
    border: 5px solid #fff;
    display: inline-block;
    max-width: 100%;
    max-height: auto;
}

.image img{
    display: block;
}

.rank1, .rank2, .rank3{
    margin-top: 10px;
    margin-bottom: 50px;
}

.rankings{
    text-align: center;
}

hr{
    margin-top: 50px;
    margin-bottom: 40px;
}

.links{
    text-align: center;
    color:#9594a1
}